h1 {
    font-size: 40px;
    color: blueviolet;
    margin: 40px;
}


#calculadora {
    width: 400px;
    height: 300px;
    margin: 100px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 25px;
    border-radius: 20px;
}

input{
	margin: 30px;
}

label{
    margin: 30px 30px;
}

select{
    margin-right: 20px;
}

#cupones {
    width: 400px;
    height: 300px;
    margin: 100px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 25px;
    border-radius: 20px;
}


/* CSS */
#btnCalcular, #btnCalcularCupon {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#btnCalcularCupon{
    margin-top: 30px;
}


#btnCalcular:hover,
#btnCalcular:active {
  outline: 0;
}

#btnCalcular:hover {
  background-color: transparent;
  cursor: pointer;
}

#btnCalcular:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

#btnCalcular:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  #btnCalcular {
    padding: 16px 32px;
  }
}
